@font-face {
  font-family: 'Lato-Regular';
  src: url('./assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('./assets/fonts/Lato/Lato-Bold.ttf');
}

:root {
  /* Colors */
  --clr-onyx: #101010;
  --clr-gainsboro: #dddddd;
  --clr-amber: #ffbf00;

  /* Fonts */
  --fnt-regular: 'Lato-Regular';
  --fnt-bld: 'Lato-Bold';
}
